.et__header {
  position: fixed;
  background-color: #157ffc;
  top: 0%;
  width: 100%;
  
  span {
    font-size: 1.5em;
    color: white;
    transition: color 0.5s ease;
    &:hover {
      color: #d8eaff;
      transition: color 0.5s ease;
    }
  }
}

.et__header_pad {
  margin-bottom: 2em;
}
